<%= form_with(model: photo, local: true) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
        <% photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :description, class: "label" %>
    <%= form.text_area :description, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :insta_image, class: "label" %>
    <div class="dropzone dropzone-default dz-clickable" data-max-file-size="2" data-dropzone-max-files="1">
       <%= form.file_field :insta_image, class: "input" %>
    <div class="dropzone-msg dz-message needsclick text-gray-600">
      <h3 class="dropzone-msg-title ml-1">Drag here to upload or click here to browse</h3>
      <span class="dropzone-msg-desc text ml-1">2 MB file size maximum. </span>
    </div>
    </div>
  </div>



  <div class="mb-6">
    <%= form.submit  class: "btn-default btn" %>
  </div>

<% end %>
